h1 {
    color: white;
    background-color: black;
    padding: 20px;
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    border-radius: 10px;
}

.top-cards {
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 10px;
}

.bottom-cards {
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
    
}

#description {
    text-align: left;
}

#laptop {
    text-align: left;
    margin-bottom: 20px;
}

#bank, #work{
    margin-right: 20px;
    margin-bottom: 20px;
}

#price {
    text-align: center;
}

#name, #balance, #btn-bank-money, #btn-work, #work-title {
    margin: 40px;
}

#laptop-title {
    text-align: center;
}

#features {
    margin: 20px;
}